<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="ColumnOrder">
<entry key="array-size" type="xint" value="337"/>
<entry key="0" type="xstring" value="STAFFINDEX"/>
<entry key="1" type="xstring" value="USERID"/>
<entry key="2" type="xstring" value="LASTNAME"/>
<entry key="3" type="xstring" value="FIRSTNAME"/>
<entry key="4" type="xstring" value="DEPARTMENT"/>
<entry key="5" type="xstring" value="OFFICE"/>
<entry key="6" type="xstring" value="DIVISION"/>
<entry key="7" type="xstring" value="SERVICE"/>
<entry key="8" type="xstring" value="SECTION"/>
<entry key="9" type="xstring" value="UNIT"/>
<entry key="10" type="xstring" value="Concatenate(ROLE_CODE)"/>
<entry key="11" type="xstring" value="LMS-1335+prediction"/>
<entry key="12" type="xstring" value="LMS-1336+prediction"/>
<entry key="13" type="xstring" value="LMS-1354+prediction"/>
<entry key="14" type="xstring" value="LMS-1356+prediction"/>
<entry key="15" type="xstring" value="LMS-1527+prediction"/>
<entry key="16" type="xstring" value="LMS-1714+prediction"/>
<entry key="17" type="xstring" value="LMS-2175+prediction"/>
<entry key="18" type="xstring" value="LMS-2181+prediction"/>
<entry key="19" type="xstring" value="LMS-1289+prediction"/>
<entry key="20" type="xstring" value="LMS-1443+prediction"/>
<entry key="21" type="xstring" value="LMS-1715+prediction"/>
<entry key="22" type="xstring" value="LMS-1737+prediction"/>
<entry key="23" type="xstring" value="LMS-1745+prediction"/>
<entry key="24" type="xstring" value="LMS-1888+prediction"/>
<entry key="25" type="xstring" value="LMS-1960+prediction"/>
<entry key="26" type="xstring" value="LMS-1997+prediction"/>
<entry key="27" type="xstring" value="LMS-1303+prediction"/>
<entry key="28" type="xstring" value="LMS-1320+prediction"/>
<entry key="29" type="xstring" value="LMS-1338+prediction"/>
<entry key="30" type="xstring" value="LMS-1342+prediction"/>
<entry key="31" type="xstring" value="LMS-1344+prediction"/>
<entry key="32" type="xstring" value="LMS-1345+prediction"/>
<entry key="33" type="xstring" value="LMS-1355+prediction"/>
<entry key="34" type="xstring" value="LMS-1564+prediction"/>
<entry key="35" type="xstring" value="LMS-1570+prediction"/>
<entry key="36" type="xstring" value="LMS-1929+prediction"/>
<entry key="37" type="xstring" value="LMS-2342+prediction"/>
<entry key="38" type="xstring" value="LMS-1308+prediction"/>
<entry key="39" type="xstring" value="LMS-1323+prediction"/>
<entry key="40" type="xstring" value="LMS-1347+prediction"/>
<entry key="41" type="xstring" value="LMS-1349+prediction"/>
<entry key="42" type="xstring" value="LMS-1352+prediction"/>
<entry key="43" type="xstring" value="LMS-1775+prediction"/>
<entry key="44" type="xstring" value="LMS-1920+prediction"/>
<entry key="45" type="xstring" value="LMS-1938+prediction"/>
<entry key="46" type="xstring" value="LMS-1957+prediction"/>
<entry key="47" type="xstring" value="LMS-1996+prediction"/>
<entry key="48" type="xstring" value="LMS-1998+prediction"/>
<entry key="49" type="xstring" value="LMS-1999+prediction"/>
<entry key="50" type="xstring" value="LMS-2073+prediction"/>
<entry key="51" type="xstring" value="LMS-1306+prediction"/>
<entry key="52" type="xstring" value="LMS-1307+prediction"/>
<entry key="53" type="xstring" value="LMS-1340+prediction"/>
<entry key="54" type="xstring" value="LMS-1571+prediction"/>
<entry key="55" type="xstring" value="LMS-1931+prediction"/>
<entry key="56" type="xstring" value="LMS-1327+prediction"/>
<entry key="57" type="xstring" value="LMS-1487+prediction"/>
<entry key="58" type="xstring" value="LMS-2000+prediction"/>
<entry key="59" type="xstring" value="LMS-1330+prediction"/>
<entry key="60" type="xstring" value="LMS-1947+prediction"/>
<entry key="61" type="xstring" value="LMS-2193+prediction"/>
<entry key="62" type="xstring" value="LMS-1529+prediction"/>
<entry key="63" type="xstring" value="LMS-1325+prediction"/>
<entry key="64" type="xstring" value="LMS-1328+prediction"/>
<entry key="65" type="xstring" value="LMS-1624+prediction"/>
<entry key="66" type="xstring" value="LMS-1667+prediction"/>
<entry key="67" type="xstring" value="LMS-2195+prediction"/>
<entry key="68" type="xstring" value="LMS-1326+prediction"/>
<entry key="69" type="xstring" value="LMS-2002+prediction"/>
<entry key="70" type="xstring" value="LMS-2167+prediction"/>
<entry key="71" type="xstring" value="LMS-2199+prediction"/>
<entry key="72" type="xstring" value="LMS-1304+prediction"/>
<entry key="73" type="xstring" value="LMS-1954+prediction"/>
<entry key="74" type="xstring" value="LMS-2168+prediction"/>
<entry key="75" type="xstring" value="LMS-1732+prediction"/>
<entry key="76" type="xstring" value="LMS-2001+prediction"/>
<entry key="77" type="xstring" value="LMS-2268+prediction"/>
<entry key="78" type="xstring" value="LMS-2269+prediction"/>
<entry key="79" type="xstring" value="LMS-1339+prediction"/>
<entry key="80" type="xstring" value="LMS-2003+prediction"/>
<entry key="81" type="xstring" value="LMS-2271+prediction"/>
<entry key="82" type="xstring" value="LMS-2244+prediction"/>
<entry key="83" type="xstring" value="LMS-1346+prediction"/>
<entry key="84" type="xstring" value="LMS-1531+prediction"/>
<entry key="85" type="xstring" value="LMS-2241+prediction"/>
<entry key="86" type="xstring" value="LMS-2242+prediction"/>
<entry key="87" type="xstring" value="LMS-1935+prediction"/>
<entry key="88" type="xstring" value="LMS-1939+prediction"/>
<entry key="89" type="xstring" value="LMS-1332+prediction"/>
<entry key="90" type="xstring" value="LMS-1946+prediction"/>
<entry key="91" type="xstring" value="LMS-1958+prediction"/>
<entry key="92" type="xstring" value="LMS-1959+prediction"/>
<entry key="93" type="xstring" value="LMS-1728+prediction"/>
<entry key="94" type="xstring" value="LMS-1729+prediction"/>
<entry key="95" type="xstring" value="LMS-1806+prediction"/>
<entry key="96" type="xstring" value="LMS-1970+prediction"/>
<entry key="97" type="xstring" value="LMS-2200+prediction"/>
<entry key="98" type="xstring" value="LMS-2202+prediction"/>
<entry key="99" type="xstring" value="LMS-1322+prediction"/>
<entry key="100" type="xstring" value="LMS-1568+prediction"/>
<entry key="101" type="xstring" value="LMS-1569+prediction"/>
<entry key="102" type="xstring" value="LMS-1898+prediction"/>
<entry key="103" type="xstring" value="LMS-1903+prediction"/>
<entry key="104" type="xstring" value="LMS-1910+prediction"/>
<entry key="105" type="xstring" value="LMS-2004+prediction"/>
<entry key="106" type="xstring" value="LMS-2025+prediction"/>
<entry key="107" type="xstring" value="LMS-1807+prediction"/>
<entry key="108" type="xstring" value="LMS-1357+prediction"/>
<entry key="109" type="xstring" value="LMS-1984+prediction"/>
<entry key="110" type="xstring" value="LMS-2014+prediction"/>
<entry key="111" type="xstring" value="LMS-2182+prediction"/>
<entry key="112" type="xstring" value="LMS-2183+prediction"/>
<entry key="113" type="xstring" value="LMS-2218+prediction"/>
<entry key="114" type="xstring" value="LMS-2314+prediction"/>
<entry key="115" type="xstring" value="LMS-2165+prediction"/>
<entry key="116" type="xstring" value="LMS-1324+prediction"/>
<entry key="117" type="xstring" value="LMS-2029+prediction"/>
<entry key="118" type="xstring" value="LMS-2229+prediction"/>
<entry key="119" type="xstring" value="LMS-1949+prediction"/>
<entry key="120" type="xstring" value="LMS-1794+prediction"/>
<entry key="121" type="xstring" value="LMS-1808+prediction"/>
<entry key="122" type="xstring" value="LMS-1932+prediction"/>
<entry key="123" type="xstring" value="LMS-1978+prediction"/>
<entry key="124" type="xstring" value="LMS-1879+prediction"/>
<entry key="125" type="xstring" value="LMS-2052+prediction"/>
<entry key="126" type="xstring" value="LMS-2173+prediction"/>
<entry key="127" type="xstring" value="LMS-1299+prediction"/>
<entry key="128" type="xstring" value="LMS-1900+prediction"/>
<entry key="129" type="xstring" value="LMS-1979+prediction"/>
<entry key="130" type="xstring" value="LMS-1901+prediction"/>
<entry key="131" type="xstring" value="LMS-1902+prediction"/>
<entry key="132" type="xstring" value="LMS-1309+prediction"/>
<entry key="133" type="xstring" value="LMS-2020+prediction"/>
<entry key="134" type="xstring" value="LMS-1891+prediction"/>
<entry key="135" type="xstring" value="LMS-2447+prediction"/>
<entry key="136" type="xstring" value="LMS-2330+prediction"/>
<entry key="137" type="xstring" value="LMS-1909+prediction"/>
<entry key="138" type="xstring" value="LMS-1915+prediction"/>
<entry key="139" type="xstring" value="LMS-1916+prediction"/>
<entry key="140" type="xstring" value="LMS-1919+prediction"/>
<entry key="141" type="xstring" value="LMS-2110+prediction"/>
<entry key="142" type="xstring" value="LMS-2186+prediction"/>
<entry key="143" type="xstring" value="LMS-1756+prediction"/>
<entry key="144" type="xstring" value="LMS-1773+prediction"/>
<entry key="145" type="xstring" value="LMS-1704+prediction"/>
<entry key="146" type="xstring" value="LMS-1302+prediction"/>
<entry key="147" type="xstring" value="LMS-1348+prediction"/>
<entry key="148" type="xstring" value="LMS-2076+prediction"/>
<entry key="149" type="xstring" value="LMS-2078+prediction"/>
<entry key="150" type="xstring" value="LMS-2097+prediction"/>
<entry key="151" type="xstring" value="LMS-2282+prediction"/>
<entry key="152" type="xstring" value="LMS-2436+prediction"/>
<entry key="153" type="xstring" value="LMS-2108+prediction"/>
<entry key="154" type="xstring" value="LMS-1329+prediction"/>
<entry key="155" type="xstring" value="LMS-1375+prediction"/>
<entry key="156" type="xstring" value="LMS-1376+prediction"/>
<entry key="157" type="xstring" value="LMS-2085+prediction"/>
<entry key="158" type="xstring" value="LMS-2055+prediction"/>
<entry key="159" type="xstring" value="LMS-1866+prediction"/>
<entry key="160" type="xstring" value="LMS-1985+prediction"/>
<entry key="161" type="xstring" value="LMS-1976+prediction"/>
<entry key="162" type="xstring" value="LMS-1982+prediction"/>
<entry key="163" type="xstring" value="LMS-2024+prediction"/>
<entry key="164" type="xstring" value="LMS-1878+prediction"/>
<entry key="165" type="xstring" value="LMS-1934+prediction"/>
<entry key="166" type="xstring" value="LMS-1940+prediction"/>
<entry key="167" type="xstring" value="LMS-1941+prediction"/>
<entry key="168" type="xstring" value="LMS-1988+prediction"/>
<entry key="169" type="xstring" value="LMS-1566+prediction"/>
<entry key="170" type="xstring" value="LMS-2209+prediction"/>
<entry key="171" type="xstring" value="LMS-2112+prediction"/>
<entry key="172" type="xstring" value="LMS-2294+prediction"/>
<entry key="173" type="xstring" value="LMS-1865+prediction"/>
<entry key="174" type="xstring" value="LMS-2140+prediction"/>
<entry key="175" type="xstring" value="LMS-2013+prediction"/>
<entry key="176" type="xstring" value="LMS-1370+prediction"/>
<entry key="177" type="xstring" value="LMS-2156+prediction"/>
<entry key="178" type="xstring" value="LMS-2012+prediction"/>
<entry key="179" type="xstring" value="LMS-1933+prediction"/>
<entry key="180" type="xstring" value="LMS-2307+prediction"/>
<entry key="181" type="xstring" value="LMS-2109+prediction"/>
<entry key="182" type="xstring" value="LMS-1890+prediction"/>
<entry key="183" type="xstring" value="LMS-1966+prediction"/>
<entry key="184" type="xstring" value="LMS-1362+prediction"/>
<entry key="185" type="xstring" value="LMS-1373+prediction"/>
<entry key="186" type="xstring" value="LMS-1380+prediction"/>
<entry key="187" type="xstring" value="LMS-1972+prediction"/>
<entry key="188" type="xstring" value="LMS-1973+prediction"/>
<entry key="189" type="xstring" value="LMS-1974+prediction"/>
<entry key="190" type="xstring" value="LMS-2017+prediction"/>
<entry key="191" type="xstring" value="LMS-2026+prediction"/>
<entry key="192" type="xstring" value="LMS-2056+prediction"/>
<entry key="193" type="xstring" value="LMS-2018+prediction"/>
<entry key="194" type="xstring" value="LMS-2046+prediction"/>
<entry key="195" type="xstring" value="LMS-1760+prediction"/>
<entry key="196" type="xstring" value="LMS-2008+prediction"/>
<entry key="197" type="xstring" value="LMS-2114+prediction"/>
<entry key="198" type="xstring" value="LMS-1863+prediction"/>
<entry key="199" type="xstring" value="LMS-1759+prediction"/>
<entry key="200" type="xstring" value="LMS-2021+prediction"/>
<entry key="201" type="xstring" value="LMS-2149+prediction"/>
<entry key="202" type="xstring" value="LMS-2174+prediction"/>
<entry key="203" type="xstring" value="LMS-1862+prediction"/>
<entry key="204" type="xstring" value="LMS-2141+prediction"/>
<entry key="205" type="xstring" value="LMS-1809+prediction"/>
<entry key="206" type="xstring" value="LMS-2043+prediction"/>
<entry key="207" type="xstring" value="LMS-1741+prediction"/>
<entry key="208" type="xstring" value="LMS-1752+prediction"/>
<entry key="209" type="xstring" value="LMS-2028+prediction"/>
<entry key="210" type="xstring" value="LMS-2373+prediction"/>
<entry key="211" type="xstring" value="LMS-2374+prediction"/>
<entry key="212" type="xstring" value="LMS-1498+prediction"/>
<entry key="213" type="xstring" value="LMS-1499+prediction"/>
<entry key="214" type="xstring" value="LMS-1777+prediction"/>
<entry key="215" type="xstring" value="LMS-1778+prediction"/>
<entry key="216" type="xstring" value="LMS-1747+prediction"/>
<entry key="217" type="xstring" value="LMS-2246+prediction"/>
<entry key="218" type="xstring" value="LMS-2087+prediction"/>
<entry key="219" type="xstring" value="LMS-1519+prediction"/>
<entry key="220" type="xstring" value="LMS-1993+prediction"/>
<entry key="221" type="xstring" value="LMS-1321+prediction"/>
<entry key="222" type="xstring" value="LMS-2146+prediction"/>
<entry key="223" type="xstring" value="LMS-1334+prediction"/>
<entry key="224" type="xstring" value="LMS-1779+prediction"/>
<entry key="225" type="xstring" value="LMS-1780+prediction"/>
<entry key="226" type="xstring" value="LMS-1781+prediction"/>
<entry key="227" type="xstring" value="LMS-2079+prediction"/>
<entry key="228" type="xstring" value="LMS-1797+prediction"/>
<entry key="229" type="xstring" value="LMS-1374+prediction"/>
<entry key="230" type="xstring" value="LMS-1723+prediction"/>
<entry key="231" type="xstring" value="LMS-1724+prediction"/>
<entry key="232" type="xstring" value="LMS-1730+prediction"/>
<entry key="233" type="xstring" value="LMS-1742+prediction"/>
<entry key="234" type="xstring" value="LMS-1743+prediction"/>
<entry key="235" type="xstring" value="LMS-1750+prediction"/>
<entry key="236" type="xstring" value="LMS-1755+prediction"/>
<entry key="237" type="xstring" value="LMS-1758+prediction"/>
<entry key="238" type="xstring" value="LMS-1762+prediction"/>
<entry key="239" type="xstring" value="LMS-1767+prediction"/>
<entry key="240" type="xstring" value="LMS-1768+prediction"/>
<entry key="241" type="xstring" value="LMS-1772+prediction"/>
<entry key="242" type="xstring" value="LMS-1983+prediction"/>
<entry key="243" type="xstring" value="LMS-2027+prediction"/>
<entry key="244" type="xstring" value="LMS-1994+prediction"/>
<entry key="245" type="xstring" value="LMS-1749+prediction"/>
<entry key="246" type="xstring" value="LMS-2081+prediction"/>
<entry key="247" type="xstring" value="LMS-2090+prediction"/>
<entry key="248" type="xstring" value="LMS-2113+prediction"/>
<entry key="249" type="xstring" value="LMS-2274+prediction"/>
<entry key="250" type="xstring" value="LMS-2275+prediction"/>
<entry key="251" type="xstring" value="LMS-1363+prediction"/>
<entry key="252" type="xstring" value="LMS-1914+prediction"/>
<entry key="253" type="xstring" value="LMS-1364+prediction"/>
<entry key="254" type="xstring" value="LMS-1368+prediction"/>
<entry key="255" type="xstring" value="LMS-1369+prediction"/>
<entry key="256" type="xstring" value="LMS-1382+prediction"/>
<entry key="257" type="xstring" value="LMS-1738+prediction"/>
<entry key="258" type="xstring" value="LMS-1288+prediction"/>
<entry key="259" type="xstring" value="LMS-2196+prediction"/>
<entry key="260" type="xstring" value="LMS-1992+prediction"/>
<entry key="261" type="xstring" value="LMS-2047+prediction"/>
<entry key="262" type="xstring" value="LMS-1953+prediction"/>
<entry key="263" type="xstring" value="LMS-2080+prediction"/>
<entry key="264" type="xstring" value="LMS-1371+prediction"/>
<entry key="265" type="xstring" value="LMS-1378+prediction"/>
<entry key="266" type="xstring" value="LMS-2272+prediction"/>
<entry key="267" type="xstring" value="LMS-2036+prediction"/>
<entry key="268" type="xstring" value="LMS-2066+prediction"/>
<entry key="269" type="xstring" value="LMS-2082+prediction"/>
<entry key="270" type="xstring" value="LMS-2083+prediction"/>
<entry key="271" type="xstring" value="LMS-1995+prediction"/>
<entry key="272" type="xstring" value="LMS-1636+prediction"/>
<entry key="273" type="xstring" value="LMS-1795+prediction"/>
<entry key="274" type="xstring" value="LMS-1945+prediction"/>
<entry key="275" type="xstring" value="LMS-1532+prediction"/>
<entry key="276" type="xstring" value="LMS-1746+prediction"/>
<entry key="277" type="xstring" value="LMS-1528+prediction"/>
<entry key="278" type="xstring" value="LMS-2053+prediction"/>
<entry key="279" type="xstring" value="LMS-1720+prediction"/>
<entry key="280" type="xstring" value="LMS-1718+prediction"/>
<entry key="281" type="xstring" value="LMS-1869+prediction"/>
<entry key="282" type="xstring" value="LMS-2033+prediction"/>
<entry key="283" type="xstring" value="LMS-2063+prediction"/>
<entry key="284" type="xstring" value="LMS-1788+prediction"/>
<entry key="285" type="xstring" value="LMS-2060+prediction"/>
<entry key="286" type="xstring" value="LMS-2065+prediction"/>
<entry key="287" type="xstring" value="LMS-2072+prediction"/>
<entry key="288" type="xstring" value="LMS-2041+prediction"/>
<entry key="289" type="xstring" value="LMS-2030+prediction"/>
<entry key="290" type="xstring" value="LMS-2031+prediction"/>
<entry key="291" type="xstring" value="LMS-2042+prediction"/>
<entry key="292" type="xstring" value="LMS-2061+prediction"/>
<entry key="293" type="xstring" value="LMS-2071+prediction"/>
<entry key="294" type="xstring" value="LMS-1719+prediction"/>
<entry key="295" type="xstring" value="LMS-2091+prediction"/>
<entry key="296" type="xstring" value="LMS-2099+prediction"/>
<entry key="297" type="xstring" value="LMS-2037+prediction"/>
<entry key="298" type="xstring" value="LMS-2038+prediction"/>
<entry key="299" type="xstring" value="LMS-2067+prediction"/>
<entry key="300" type="xstring" value="LMS-2068+prediction"/>
<entry key="301" type="xstring" value="LMS-2051+prediction"/>
<entry key="302" type="xstring" value="LMS-1721+prediction"/>
<entry key="303" type="xstring" value="LMS-1722+prediction"/>
<entry key="304" type="xstring" value="LMS-1748+prediction"/>
<entry key="305" type="xstring" value="LMS-1930+prediction"/>
<entry key="306" type="xstring" value="LMS-2245+prediction"/>
<entry key="307" type="xstring" value="LMS-2145+prediction"/>
<entry key="308" type="xstring" value="LMS-1530+prediction"/>
<entry key="309" type="xstring" value="LMS-1952+prediction"/>
<entry key="310" type="xstring" value="LMS-2086+prediction"/>
<entry key="311" type="xstring" value="LMS-2048+prediction"/>
<entry key="312" type="xstring" value="LMS-2070+prediction"/>
<entry key="313" type="xstring" value="LMS-2273+prediction"/>
<entry key="314" type="xstring" value="LMS-1899+prediction"/>
<entry key="315" type="xstring" value="LMS-2201+prediction"/>
<entry key="316" type="xstring" value="LMS-2231+prediction"/>
<entry key="317" type="xstring" value="LMS-1751+prediction"/>
<entry key="318" type="xstring" value="LMS-1757+prediction"/>
<entry key="319" type="xstring" value="LMS-2101+prediction"/>
<entry key="320" type="xstring" value="LMS-1331+prediction"/>
<entry key="321" type="xstring" value="LMS-2040+prediction"/>
<entry key="322" type="xstring" value="LMS-2383+prediction"/>
<entry key="323" type="xstring" value="LMS-2293+prediction"/>
<entry key="324" type="xstring" value="LMS-2230+prediction"/>
<entry key="325" type="xstring" value="LMS-2084+prediction"/>
<entry key="326" type="xstring" value="LMS-2384+prediction"/>
<entry key="327" type="xstring" value="LMS-1766+prediction"/>
<entry key="328" type="xstring" value="LMS-2094+prediction"/>
<entry key="329" type="xstring" value="LMS-2270+prediction"/>
<entry key="330" type="xstring" value="LMS-2088+prediction"/>
<entry key="331" type="xstring" value="LMS-2032+prediction"/>
<entry key="332" type="xstring" value="LMS-2062+prediction"/>
<entry key="333" type="xstring" value="LMS-2092+prediction"/>
<entry key="334" type="xstring" value="LMS-2034+prediction"/>
<entry key="335" type="xstring" value="LMS-2064+prediction"/>
<entry key="336" type="xstring" value="&lt;any unknown new column&gt;"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.columnresorter.ColumnResorterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Resorter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.2.0.v201607050924"/>
<entry key="node-feature-name" type="xstring" value="Lhasa Metabolism Feature"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.lhasalimited.knime.metabolism.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="Lhasa Limited (http://www.lhasalimited.org)"/>
<entry key="node-feature-version" type="xstring" value="1.1.0.v201607041447"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Resorter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 34685, Cols: 336"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="5cf85fbd-fb1b-4f3e-8159-2ffc8f23d5a4"/>
</config>
</config>
